<form id="create-card" class="">
  <input type="hidden" name="card[list_id]" value="<%=list.id%>">
  <div class="form-group">
    <input name="card[title]" id="card-title" class="form-control" placeholder="New Card">
  </div>
  <input type="submit" class="btn btn-primary" value="Create">
</form>