<form id="create-board" class="">
  <div class="form-group">
    <label for="board-title">Title</label>
    <input name="board[title]" id="board-title" class="form-control">
  </div>
  <input type="submit" class="btn btn-primary" value="Create">
</form>