<form id="create-list" class="">
  <input type="hidden" name="list[board_id]" value="<%=board.id%>">
  <div class="form-group">
    <input name="list[title]" id="list-title" class="form-control" placeholder="New List">
  </div>
  <input type="submit" class="btn btn-primary" value="Create">
</form>