<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= list.escape('title') %></h4>
  </div>
  <div class="panel-body">
    <ul class="cards list-unstyled">
    </ul>
    <div class="cards-new">
    </div>
  </div>
</div>
